:root {
  --foreground: #171717;
  --tableback: #fff;
  --tableheader: #fafafa;
  --labelcolor: #666;
  --chartback: white;
  --bordertable: #f0f0f0;
  --tablehover: #f9fbff;
  --searchborder: #525252;
}

html[data-theme='dark'] {
  --foreground: #ededed;
  --tableback: #1d1d1d;
  --tableheader: #000000;
  --labelcolor: #d6d6d6;
  --chartback: #1d1d1d;
  --bordertable: #6e6e6e;
  --tablehover: #929292;
  --searchborder: #6e6e6e;
}

.countries-page {
  color: var(--foreground);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.countries-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}

.countries-title {
  font-weight: 600;
}

.countries-filters {
  display: flex;
  gap: 12px;
}

.countries-table-wrapper {
  background: var(--tableback);
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  max-height: 550px;
  overflow-x: auto;
}

.country-table {
  min-width: 900px;
  display: flex;
  flex-direction: column;
  max-height: 500px;
}

.table-header {
  display: flex;
  padding: 12px 16px;
  align-items: center;
  background: var(--tableheader);
  font-weight: 600;
  color: #555;
  position: sticky;
  top: 0;
  z-index: 2;
}

.table-body {
  overflow-y: auto;
  flex: 1;
}

.table-row {
  display: flex;
  padding: 12px 16px;
  align-items: center;
  border-top: 1px solid var(--bordertable);
}

.table-row:hover {
  background: var(--tablehover);
}

@media (max-width: 768px) {
  .table-header,
  .table-row {
    padding: 8px 12px;
  }
}
